<div class="main">
    <h1>Vehicle Service Center</h1>
<!-- <div class="top"><b>
    <a href="#contact">Contact</a> <a href="#about">About</a>
 </b>
 </div> -->
</div>
<div class="sidenav">
    <a routerLink="home">Home</a>
    
      <a routerLink="customer" routerLinkActive="active">Customer</a>
   
      <a routerLink="vehicle" routerLinkActive="active">Vehicle</a>
    
      <a routerLink="jobCard" routerLinkActive="active">JobCard</a>

      <a routerLink="service" routerLinkActive="active">Service</a>
    
      <a routerLink="bill" routerLinkActive="active">Bill</a>
   
      <a routerLink="employee" routerLinkActive="active">Employee</a>
  
  </div>
  <br>
    <router-outlet></router-outlet>


    <notifier-container></notifier-container>
